body {
    background-color: darkgreen;
}
h1 {
                color:brown;
                text-align: center;
            }

            h1.alternativo {
                color: red;
        
            }

            p{
                background-color: aqua;
            }


            #fuente_diferente {
                font-family: Georgia, 'Times New Roman', Times, serif;
            }
            .texto_grande {
                font-size: x-large;
            }